<a href="https://colab.research.google.com/github/rahulmyakal/BestEnlist_python_bootcamp/blob/main/Day_4_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)Create three variables (a,b,c) to same value of any integer &
do the following

a) Divide a by 10

b) Multiply b by 50

c) Add c value by 60

In [2]:
a,b,c = 58,97,22
print("Divide a by 10: ",a/10)
print("Multiply b by 50: ",b*50)
print("Add c value by 60: ",c+60)

Divide a by 10:  5.8
Multiply b by 50:  4850
Add c value by 60:  82

2)Create a String variable of 5 characters and replace the 3rd
character with G

In [6]:
str = 'rahul'
print("before replacing: ",str)
print("after replacing: ",str.replace('h','g'))

before replacing:  rahul
after replacing:  ragul

3)Create two values (a,b) of int,float data type & convert the
vise versa

In [7]:
a = 52
b =52.45
print("int to float:",float(a))
print("float to int:",int(b))

int to float: 52.0
float to int: 52