<a href="https://colab.research.google.com/github/rahulmyakal/BestEnlist_python_bootcamp/blob/main/Day_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a Python script to merge two Python dictionaries

In [31]:
dict1 = {1:1, 2:4, 3:9, 4:16, 5:25}
dict2 = {'name':'rahul','fathers_name':'chandan','last_name':'myakal'}
dict3 = {**dict1, **dict2}
print("merging two dictionaries:",dict3)

merging two dictionaries: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 'name': 'rahul', 'fathers_name': 'chandan', 'last_name': 'myakal'}

2) Write a Python program to remove a key from a dictionary

In [32]:
print(dict2)
del dict2['name']
print("after removing rahul key ",dict2)

{'name': 'rahul', 'fathers_name': 'chandan', 'last_name': 'myakal'}
after removing rahul key  {'fathers_name': 'chandan', 'last_name': 'myakal'}

3) Write a Python program to map two lists into a dictionary

In [34]:
dkey = ['frontend','database','backend']
dvalue = ['CSS','ORACLE','PYTHON']
LISTDICT = dict(zip(dkey,dvalue))
print(LISTDICT)

{'frontend': 'CSS', 'database': 'ORACLE', 'backend': 'PYTHON'}

4)Write a Python program to find the length of a set

In [39]:
set1 = [1,'friend',86,83,53,42]
print(set1)
print(len(set1))

[1, 'friend', 86, 83, 53, 42]
6

5) Write a Python program to remove the intersection of a 2nd set from the 1st set

In [42]:
set1 = {1,'friend',86,83,53,42}
set2 = {819,981,98,7,45,79,89,54,83,86}
z = set1.intersection(set2)
print(z)

{83, 86}