<a href="https://colab.research.google.com/github/rahulmyakal/BestEnlist_python_bootcamp/blob/main/Day_5_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)	Write a program to create a list of n integer values and do the following

•	Add an item in to the list (using function)

•	Delete (using function)

•	Store the largest number from the list to a variable

•	Store the Smallest number from the list to a variable

In [ ]:
# 1A) Add an item in to the list (using function)
list1 = [5,85,22,66,88,8,1,5,4,9,98,12]
print(list1)
list1.insert(0,55)
print(list1)


# 1B)  Delete (using function)
list1.remove(55) # using function remove()
print(list1)

list1.insert(0,55)
print(list1)
list1.pop(0) # using pop()
print(list1)

list1.insert(0,55)
print(list1)
del list1[0] # using delete ()
print(list1)


#1C) Store the largest number from the list to a variable
largvar = max(list1)
print(f"largest number in list: {largvar}")


#1D) Store the smallest number from the list to a variable
smallvar = min(list1)
print(f"Smallest number in list: {smallvar}")

[5, 85, 22, 66, 88, 8, 1, 5, 4, 9, 98, 12]
[55, 5, 85, 22, 66, 88, 8, 1, 5, 4, 9, 98, 12]
[5, 85, 22, 66, 88, 8, 1, 5, 4, 9, 98, 12]
[55, 5, 85, 22, 66, 88, 8, 1, 5, 4, 9, 98, 12]
[5, 85, 22, 66, 88, 8, 1, 5, 4, 9, 98, 12]
[55, 5, 85, 22, 66, 88, 8, 1, 5, 4, 9, 98, 12]
[5, 85, 22, 66, 88, 8, 1, 5, 4, 9, 98, 12]
largest number in list: 98
largest number in list: 1

2) Create a tuple and print the reverse of the created tuple

In [ ]:
tup1 = ('B','E','S','T','E','N','L','I','S','T')
print(tup1)
x = reversed(tup1)
print(tuple(x))

('B', 'E', 'S', 'T', 'E', 'N', 'L', 'I', 'S', 'T')
('T', 'S', 'I', 'L', 'N', 'E', 'T', 'S', 'E', 'B')

     3) Create a tuple and convert tuple into list

In [ ]:
tup1 = ('B','E','S','T','E','N','L','I','S','T')
print(tup1)
print(list(tup1))

('B', 'E', 'S', 'T', 'E', 'N', 'L', 'I', 'S', 'T')
['B', 'E', 'S', 'T', 'E', 'N', 'L', 'I', 'S', 'T']