<a href="https://colab.research.google.com/github/rahulmyakal/BestEnlist_python_bootcamp/blob/main/Day_9_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a program to loop through a list of numbers and add +2 to every value to elements in list

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
for i in list1:
    i=i+2
    print(i)

3
4
5
6
7
8
9
10
11

â€¢ Write a program to get the below pattern

54321

4321

321

21

1

In [ ]:
for i in range(5,1,-1):
    for j in range(i,0,-1):
        print(j,end="")
    print()

54321
4321
321
21

In [ ]:
for i in range(5): 
	print(''.join(map(str,range(5-i,0,-1))))

54321
4321
321
21
1

3)  Python Program to Print the Fibonacci sequence

In [ ]:
n=int(input("\n Please enter the range number"))
a=0
b=1
if n < 0:
    print("you enter a negative integer")
elif n == 0:
    print(f"fibonacci of 0 is {b}")
else:

    for i in range(0,n):
        if(i<=1):
            c=i
        else:
            c=a+b
            a=b
            b=c
        print(c)

 Please enter the range number9
0
1
1
2
3
5
8
13
21

4) Explain Armstrong number and write a code with a function

In [ ]:
num = int(input("enter a a number: "))4
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
    print(num,"is an armstrong number")
else:
    print(num,"is not an armstrong number")

enter a a number: 407
407 is an armstrong number

5) Write a program to print the multiplication table of 9

In [ ]:
n = int(input("enter a number: "))
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")2

enter a number: 25
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

6) Check if a program is negative or positive

In [ ]:
n = int(input("enter a number: "))
if n < 0:
    print(f" {n} is negative integer")
elif n == 0:
    print(f"{n} is zero integer")
else:
    print(f" {n} is positive integer")

enter a number: 85
 85 is positive integer

7)  Write a program to convert the number of days to ages

In [ ]:
n = int(input("enter a number to get how many years old you: "))
x = n/365
print(f"you are {x} years old ")

enter a number to get how many years old you: 10000
you are 27.397260273972602 years old

8) Solve Trigonometry problem using math function write a program to solve using math function

In [ ]:
import math
def trigonomentry(func,degree):
    if func == 'sin':
        return math.sin(degree)
    elif func == 'cos':
        return math.cos(degree)
    elif func == 'tan':
        return math.tan(degree)
    elif func == 'cosec':
        return math.cosec(degree)
    elif func == 'sec':
        return math.sec(degree)
    else:
        return math.cot(degree)
trigonomentry('cos',0)

1.0

9) Create a calculator only on a code level by using if condition (Basic arithmetic calculation)

In [ ]:
print("--- 1 for addition ---")
print("--- 2 for subtraction ---")
print("--- 3 for multiplication ---")
print("--- 4 for divide ---")


choice = int(input("Enter your choice:")) 
if (choice>=1 and choice<=4):

  print("Enter two numbers: ")
  num1 = int(input())
  num2 = int(input())

  if choice == 1: 
    add= num1 + num2
    print("Addition: ", add)

  elif choice == 2: 
    sub = num1 - num2
    print("Subtraction: ", sub)

  elif choice == 3: 
    mul = num1 * num2
    print("Multiplication: ", mul)

  elif choice == 4: 
    div = num1 / num2
    print("Divide: ", div)

  elif choice == 5:
    exit()
else:
  print("Wrong input..!!")

--- 1 for addition ---
--- 2 for subtraction ---
--- 3 for multiplication ---
--- 4 for divide ---
Enter your choice:2
Enter two numbers:
9
6
Subtraction:  3